<div class="form-group">
    <label for="alcaldia" class="form-label">Alcaldia de:</label>
    <input type="text" id="alcaldia" name="alcaldia" class="form-input" placeholder="Alcaldia de:" value="N/A" />
</div>