<div class="form-group">
    <label for="codigo_catastral" class="form-label">Codigo catastral</label>
    <input 
        type="number"
        id="codigo_catastral" 
        name="codigo_catastral" 
        class="form-input" 
        placeholder="Codigo catastral" 
        required>
</div>