<div class="form-group">
  <label for="SISCAT" class="form-label">SISCAT</label>
  <input
    type="number"
    id="SISCAT"
    name="SISCAT"
    class="form-input"
    placeholder="SISCAT"
  />
</div>