<div class="form-group">
    <label for="propietarios" class="form-label">Tipo de Propietario</label>
    <select id="propietarios" name="propietarios" class="form-select">
        <option value="Propietario">Propietario</option>
        <option value="Poseedor">Poseedor</option>
        <option value="Personeria">Personeria</option>
    </select>
</div>