	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		* {
			box-sizing: border-box;
			border: 0;
			padding: 0;
			margin: 0;
			font-family: "Roboto Condensed", Arial, sans-serif, Helvetica;
			text-decoration: none;
			list-style: none;
		  }
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	:root {
		--bg-color: #f0f4f7;
		--form-bg-color: #e0f7fa;
		--primary-color: #3db87ecc;
		--primary-hover-color: #226646;
		--border-color: #ccc;
		--focus-border-color: #3db87e;
		--focus-shadow-color: rgba(61, 184, 126, 0.5);
		--form-group-border-color: #d1d1d1;
		--form-group-shadow-color: rgba(0, 0, 0, 0.1);
		--secondary-color: #2f8f62;
		--accent-color: #48db97;
		--title-color: #577567;
		--highlight-bg-color: #b3e6bb80;
	  }
	
	  @keyframes fadeIn {
		from {
		  opacity: 0;
		  transform: translateY(10px);
		}
		to {
		  opacity: 1;
		  transform: translateY(0);
		}
	  }
	
	  .bigForm {
		background-color: var(--bg-color);
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		animation: fadeIn 1s ease-out;
	  }
	  .main-title {
		color: var(--primary-color);
		margin: 10px auto;
		text-align: center;
	  }
	
	  .form-group {
		background-color: var(--form-bg-color);
		padding: 15px;
		margin: 15px 0;
		border-radius: 8px;
		border: 1px solid var(--form-group-border-color);
		box-shadow: 0 2px 4px var(--form-group-shadow-color);
		animation: fadeIn 0.8s ease-out;
		animation-delay: 0.2s;
		animation-fill-mode: both;
	  }
	
	  .form-label {
		font-weight: bold;
		display: block;
		margin-bottom: 8px;
		color: var(--secondary-color);
	  }
	
	  .form-input,
	  .form-select,
	  .form-textarea,
	  .form-button {
		width: 100%;
		padding: 10px;
		margin: 5px 0;
		box-sizing: border-box;
		border: 1px solid var(--border-color);
		border-radius: 5px;
		background-color: var(--highlight-bg-color);
	  }
	
	  .form-button {
		background-color: var(--primary-color);
		color: #fff;
		border: none;
		cursor: pointer;
		transition:
		  background-color 0.3s ease,
		  transform 0.3s ease;
	  }
	
	  .form-button:hover {
		background-color: var(--primary-hover-color);
		transform: scale(1.05);
	  }
	
	  .form-input:focus,
	  .form-select:focus,
	  .form-textarea:focus {
		border-color: var(--focus-border-color);
		box-shadow: 0 0 5px var(--focus-shadow-color);
		outline: none;
	  }