---
import Layout from '../layouts/Layout.astro';
---

<Layout title="jsPDF Blog - Home">
	<h1>Welcome to the jsPDF Blog</h1>
	<p>
		Explore the power of jsPDF, a library to generate PDFs in JavaScript. 
		This blog provides examples and tutorials to help you master jsPDF.
	</p>
	<h2>What is jsPDF?</h2>
	<p>
		jsPDF is a popular JavaScript library that allows you to generate PDF documents 
		directly in the browser or on the server using Node.js. It provides a wide range 
		of features for creating complex PDF documents, including text, images, shapes, 
		and more.
	</p>
	<h2>Getting Started</h2>
	<p>
		To get started with jsPDF, you can install it via npm:
	</p>
	<pre><code>npm install jspdf</code></pre>
	<p>
		Or include it directly in your HTML:
	</p>
	<pre><code>&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"&gt;&lt;/script&gt;</code></pre>
	<p>
		Check out our <a href="/examples">Examples</a> page to see jsPDF in action!
	</p>
</Layout>