<h1 class="main-title">Fichas de Ficha 3</h1>
<form id="bigForm" class="bigForm">

    <slot/>

    <button type="submit" class="form-button">Enviar y Descargar PDF Estilizado
        <strong>julioricardo95😎</strong>
    </button>
</form>