<h1 class="main-title">Fichas de Ficha 2</h1>
<form id="bigForm" class="bigForm">
  <div class="form-group">
      <label for="codigo_catastral" class="form-label">Codigo catastral</label>
      <input type="number" id="codigo_catastral" name="codigo_catastral" class="form-input" placeholder="Codigo catastral" required />
  </div>
  <div class="form-group">
      <label for="SISCAT" class="form-label">SISCAT</label>
      <input type="number" id="SISCAT" name="SISCAT" class="form-input" placeholder="SISCAT" />
  </div>
  <div class="form-group">
      <label for="propietarios" class="form-label">Tipo de Propietario</label>
      <select id="propietarios" name="propietarios" class="form-select">
          <option value="Propietario">Propietario</option>
          <option value="Poseedor">Poseedor</option>
          <option value="Personeria">Personeria</option>
      </select>
  </div>
  <div class="form-group">
      <label for="nombre_completo" class="form-label">Nombre Completo</label>
      <input type="text" id="nombre_completo" name="nombre_completo" class="form-input" placeholder="Nombre Completo" value="N/A" />
  </div>
  <div class="form-group">
      <label for="cedula" class="form-label">Cedula o Pasaporte</label>
      <input type="tel" id="cedula" name="cedula" class="form-input" placeholder="Cedula o Pasaporte" value="N/A" />
  </div>
  <div class="form-group">
      <label for="razonsocial" class="form-label">Razon Social</label>
      <input type="text" id="razonsocial" name="razonsocial" class="form-input" placeholder="Razon Social" value="N/A" />
  </div>
  <div class="form-group">
      <label for="ruc" class="form-label">RUC</label>
      <input type="number" id="ruc" name="ruc" class="form-input" placeholder="RUC" value="N/A" />
  </div>
  <div class="form-group">
      <label for="coops" class="form-label">Tipo de Cooperativa</label>
      <select id="coops" name="coops" class="form-select">
          <option value="otro">Otro</option>
          <option value="lim">S.R. Lim</option>
          <option value="coop">S. Coop</option>
          <option value="anonima">S. Anonima</option>
      </select>
  </div>
  <div class="form-group">
      <label for="direccion" class="form-label">Direccion</label>
      <input type="text" id="direccion" name="direccion" class="form-input" placeholder="Direccion" />
  </div>
  <div class="form-group">
      <label for="beneficios" class="form-label">Beneficios</label>
      <input type="text" id="beneficios" name="beneficios" class="form-input" placeholder="Beneficios" value="N/A" />
  </div>
  <div class="form-group">
      <label for="nececidades" class="form-label">Nececidades de la Poblacion</label>
      <select id="nececidades" name="nececidades" class="form-select">
          <option value="otro">Otro</option>
          <option value="lim">S.R. Lim</option>
          <option value="coop">S. Coop</option>
          <option value="anonima">S. Anonima</option>
      </select>
  </div>
  <div class="form-group">
      <label for="encuestado" class="form-label">Nombre del Encuestado</label>
      <input type="text" id="encuestado" name="encuestado" class="form-input" placeholder="Nombre del Encuestado" />
  </div>
  <div class="form-group">
      <label for="encuestador" class="form-label">Encuestador</label>
      <select id="encuestador" name="encuestador" class="form-select">
          <option value="julio">Julio</option>
          <option value="xochil">Xochil</option>
          <option value="omid">Omid</option>
      </select>
  </div>
  <div class="form-group">
      <label for="birthdate" class="form-label">Fecha</label>
      <input type="date" id="birthdate" name="birthdate" class="form-input" />
  </div>
  <div class="form-group">
      <label for="comments" class="form-label">Comentarios Adicionales</label>
      <textarea id="comments" name="comments" class="form-textarea" rows="5"></textarea>
  </div>
  <button type="submit" class="form-button">Enviar y Descargar PDF Estilizado
      <strong>julioricardo95😎</strong>
  </button>
</form>