---
import Layout from "../../layouts/Layout.astro";
import FichaF3 from "../../components/FichaF3.astro";

import Alcadia from "../../components/block/Alcaldia.astro";
import Siscat from "../../components/block/Siscat.astro";
import Codigocatastral from "../../components/block/Codigocatastral.astro";
import Tipodepropietario from "../../components/block/Tipodepropietario.astro";

import JsPdf from "../../components/JsPdf.astro";
import Alcaldia from "../../components/block/Alcaldia.astro";
---

<Layout>
    <FichaF3>
        <Alcaldia></Alcaldia>
        <Siscat></Siscat>
        <Codigocatastral></Codigocatastral>
        <Tipodepropietario></Tipodepropietario>
        
        

        <div class="form-group">
            <label for="nombre_completo" class="form-label">Nombre Completo</label>
            <input type="text" id="nombre_completo" name="nombre_completo" class="form-input" placeholder="Nombre Completo" value="N/A" />
        </div>

        <div class="form-group">
            <label for="cedula" class="form-label">Cedula o Pasaporte</label>
            <input type="tel" id="cedula" name="cedula" class="form-input" placeholder="Cedula o Pasaporte" value="N/A" />
        </div>
        <div class="form-group">
            <label for="razonsocial" class="form-label">Razon Social</label>
            <input type="text" id="razonsocial" name="razonsocial" class="form-input" placeholder="Razon Social" value="N/A" />
        </div>
        <div class="form-group">
            <label for="ruc" class="form-label">RUC</label>
            <input type="number" id="ruc" name="ruc" class="form-input" placeholder="RUC" value="N/A" />
        </div>
        <div class="form-group">
            <label for="coops" class="form-label">Tipo de Cooperativa</label>
            <select id="coops" name="coops" class="form-select">
                <option value="otro">Otro</option>
                <option value="lim">S.R. Lim</option>
                <option value="coop">S. Coop</option>
                <option value="anonima">S. Anonima</option>
            </select>
        </div>
        <div class="form-group">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" id="direccion" name="direccion" class="form-input" placeholder="Direccion" />
        </div>
        <div class="form-group">
            <label for="beneficios" class="form-label">Beneficios</label>
            <input type="text" id="beneficios" name="beneficios" class="form-input" placeholder="Beneficios" value="N/A" />
        </div>
        <div class="form-group">
            <label for="nececidades" class="form-label">Nececidades de la Poblacion</label>
            <select id="nececidades" name="nececidades" class="form-select">
                <option value="otro">Otro</option>
                <option value="lim">S.R. Lim</option>
                <option value="coop">S. Coop</option>
                <option value="anonima">S. Anonima</option>
            </select>
        </div>
        <div class="form-group">
            <label for="encuestado" class="form-label">Nombre del Encuestado</label>
            <input type="text" id="encuestado" name="encuestado" class="form-input" placeholder="Nombre del Encuestado" />
        </div>
        <div class="form-group">
            <label for="encuestador" class="form-label">Encuestador</label>
            <select id="encuestador" name="encuestador" class="form-select">
                <option value="julio">Julio</option>
                <option value="xochil">Xochil</option>
                <option value="omid">Omid</option>
            </select>
        </div>
        <div class="form-group">
            <label for="birthdate" class="form-label">Fecha</label>
            <input type="date" id="birthdate" name="birthdate" class="form-input" />
        </div>
        <div class="form-group">
            <label for="comments" class="form-label">Comentarios Adicionales</label>
            <textarea id="comments" name="comments" class="form-textarea" rows="5"></textarea>
        </div>
        
    </FichaF3>
    <JsPdf>
</Layout>